@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background-color: black;
}
body::-webkit-scrollbar {
    width: 14px;
  }
  
  body::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  body::-webkit-scrollbar-thumb {
    background: #73C2FB; 
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: #73C2FB; 
  }